$('#js-project-types-table').dataTable({
  serverSide: true,
  bLengthChange: false,
  bInfo: false,
  ajax: $('#js-project-types-table').data('source'),
  columns: [
    {
      data: 'name_en',
      render: function (data, type, row, meta) {
        return '<a href="/admin/project_types/' + row.id + '/edit">' + data + '</a>';
      }
    },
    {
      data: 'name_ar',
      render: function (data, type, row, meta) {
        return '<a href="/admin/project_types/' + row.id + '/edit">' + data + '</a>';
      }
    },
    {
      data: 'category_type',
      render: function (data, type, row, meta) {
        return '<span>' + data + '</span>';
      }
    },
    {
      data: null,
      sortable: false,
      render: function (data, type, row, meta) {
        return (data.role === "superadmin" || data.role === "moderator" ? '<a class="tooltip" title="Delete" rel="nofollow" data-method="delete" href="/admin/project_types/' + row.id + '" data-confirm="Are you sure?"><%= image_tag("icons/trash.svg", class: "icon icon--dark icon--small") %></a>' : '');
      }
    }
  ],
  dom: "ritp",
  pageLength: 30,
  initComplete: function() {
    var table = this;

    // Select filters
    $('.js-select-filter').each(function () {
      var $filterSelect = $(this);
      var columnIndex = +$filterSelect.data('column');
      var column = table.api().column(columnIndex);

      // Filter the column when the user picks an option
      $filterSelect.on('change', function() {
        var val = $.fn.dataTable.util.escapeRegex($filterSelect.val());
        column.search(val ? val : '', false, false).draw();
      });

      // Add all possible options to the select
      $filterSelect.append('<option value="">' + column.header().innerHTML + '</option>');

      var entries = column.data().unique().sort().map( function (d, j) {
        if (typeof d === 'object') {
          return d.map(function(row) { return row.name || row })
        } else {
          return d;
        }
      });

      // undefined is falsey so filtering false values works to remove undefined
      entries = _.uniq(_.flattenDeep(entries)).filter(function(value) { return value !== undefined; });

      entries.forEach(function(entry) {
        if (entry === true || entry === false) {
          entry === true ? entry = 'Yes' : entry = 'No'
        }
        $filterSelect.append('<option value="' + entry + '">' + entry + '</option>');
      });
    });
  }
});

$('#js-projects-types-table').on('draw.dt', function() {
  $('.tooltip').tooltipster({
    delay: 0,
    animationDuration: 100
  });
});

