<div class="grid__col--xs-12 grid__col--md-2">
  <ul class="list list--unstyled mb3">
    <li class="list__item mb1">
      <button class="list__link js-toggle-project"><%= t("words.project") %></button>
    </li>
    <li class="list__item mb1">
      <button class="list__link js-toggle-services"><%= t("words.services") %></button>
    </li>
  </ul>
</div>
