<footer class="footer">
  <div class="footer__section">
    <div class="site-wrap">
      <small class="footer__copyright">&copy; <%= Date.today.year %> Muqawiloon Inc.</small>
    </div>
  </div>
</footer>
