<div class="card">
  <div class="card__section">
    <div class="card__header">
      <h4 class="card__title"><%= inline_svg("icons/briefcase.svg", class: "icon icon--dark icon--small") %><%= t("business_profile.fields.header.verifications") %></h4>
    </div>
    <fieldset class="fieldset">
      <div class="grid">
        <div class="grid__col--xs-12 grid__col--md-12">
          <%= f.association :verifications, collection: Verification.includes(:translations).order(name: :asc), wrapper: :select2, input_html: { style: "width:100%" }, label: t("business_profile.header.verifications") %>
        </div>
        <div class="field">
          <div class="grid__col--xs-12 grid__col--md-12">
            <%= f.submit action_name == 'edit' ? t("form.update"): t("form.create"), class: "mt1 btn btn--primary" %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
