// Gallery

.gallery-item {
  position: relative;
  padding-bottom: 100%; // Ensure square aspect ratio
  border-radius: $border-radius;
  overflow: hidden;
  @include gradient-overlay;

  &:after {
    @include mq(large-down) {
      display: none; // Hide gradient overlay when there's no caption
    }
  }
}

.gallery-item__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $spacing-medium;
  z-index: 1;
  color: $white;

  @include mq(medium) {
    padding: $spacing-large;
  }

  @include mq(large-down) {
    display: none;
  }
}

.gallery-item__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.6;
  z-index: 1;
  transition: transform $time $curve, opacity $time $curve;

  &:hover {
    opacity: 0.8;
  }
}


// Thumbnail

.gallery-thumbnail {
  padding-bottom: 100%;
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
}

.btn-outline-primary{
  border: 1px solid;
}
.btn-outline-primary:hover{
  color: white;
}
.text-center{
  text-align: center;
}


.custom_carousel{
  width:290px;
  margin:0px auto;
}

.slick-slide img{
  width:100%;
}
.gallery-category-filters {
  display: flex;
  justify-content: center;
  padding-left: 0;

  li{
    list-style-type: none;

  }
  a{
    border: 1px solid $primary-color;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 38px;
  }
  a:hover{
    background: $primary-color;
    color: white;
  }
  li .active {
    background: $primary-color;
    color: white;
  }
}
.pagination-load-more{
  margin-bottom: 15px;
}

@media only screen and (max-width: 965px)  {
  .gallery-category-filters{
    display: unset;
    justify-content: unset;
    float: left;
  }
}

.gallery-category-menu-and-dropdown {
    select {
      display: none;
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 15px;
      margin-top: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 98%;
      background-position-y: 9px;
      border: 1px solid #dfdfdf;
      border-radius: 2px;
      margin-right: 2rem;
      padding-right: 2rem;
    }


}

@media (max-width: 960px) {
  .gallery-category-menu-and-dropdown ul     { display: none; }
  .gallery-category-menu-and-dropdown select { display: inline-block; }
}









// Mega Menu Start
.category-mega-menu{
  background: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}


.toplevel{
  padding: 0px;
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  
  .submenu-holder{
      list-style-type: none;
    a{
      padding: 5px 15px;
      display: block;
      z-index: 999;
      color: #fff;
    }
    a:active{
      background: $primary-color;
      color: white;
      border-radius: 2px;

    }
    a:hover{
      background: $primary-color;
      color: white;
      border-radius: 2px;
    }
    .submenu{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: flex;
      visibility: hidden;
      background: #ffffff;
      z-index: 4;
      border: 1px solid #dcdcdc;
      transform: translateY(-5px);
      border-bottom: 2px solid $primary-color;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
      margin-top: 25px;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

      .list-and-see-all-container{
        width: 100%;
        .see-all-links{
          // text-align: center;
          margin-bottom: 10px;
          a{
            color: $primary-color;
            padding-left: 20px;
          }
          a:hover{
            background: transparent;
            text-decoration: underline;
          }

        }
        
      }


      .submenu-unorder-list{
        column-count: 4;
        column-gap: 20px;
        -moz-column-count: 4;
        -moz-column-gap: 20px;
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;

 


        a{
          color: #000;
          padding: 0px 0px;
          font-size: 14px;
          line-height: 30px;

        }
        a:hover{
          text-decoration: underline;
          background: transparent;
        }


      }
    
    }

  }
}


.professionals-submenu-unorder-list{
  .submenu-category-title{
    padding-left: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: $primary-color;
    font-size: 16px;
  }
  a{
      padding: 3px 0 !important;
      color: #000 !important;
      font-size: 14px;
  }
  a:hover{
    text-decoration: underline;
    background: transparent !important;
  }
  .see-all-links{
    margin-top: 0px;
    
    a{
      color: $primary-color !important;
      padding: 0px;
    }
    a:hover{
      background: transparent;
      color: $primary-color;
      opacity: 0.8;
    }
  
  }
}


.toplevel li:hover .submenu{
  visibility: visible;
}
.submenu ul{
  width: 100%;
  padding: 0px;
  list-style: none;
  padding: 20px;
}
.toggler{
  display: none;
}

@media (max-width: 767px)
{
  .toplevel{
      display: none;
      width: 100%;
  }
  .toplevel li{
      text-align: left;
  }
  .submenu{
      position: relative;
      top: 0;
      visibility: visible;
      display: none;
  }

    .submenu-unorder-list{
      column-count: 1 !important;
      -webkit-column-count: 1 !important;
      -moz-column-count: 1 !important;
    }

  .open .display{
      display: block;
  }
  .toggler{
      display: flex;
      justify-content: space-between;

  }
  .toggler a{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    align-self: center;
  }
  .toggle-btn{
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid $primary-color;
    border-radius: 0px;
    background: $primary-color;
    color: white;
    cursor: pointer;

  }
  .submenu-holder.open .submenu.display{
    display: block;
  }
  
}

// Mega Menu End
