// Gallery

.gallery-item {
  position: relative;
  padding-bottom: 100%; // Ensure square aspect ratio
  border-radius: $border-radius;
  overflow: hidden;
  @include gradient-overlay;

  &:after {
    @include mq(large-down) {
      display: none; // Hide gradient overlay when there's no caption
    }
  }
}

.gallery-item__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $spacing-medium;
  z-index: 1;
  color: $white;

  @include mq(medium) {
    padding: $spacing-large;
  }

  @include mq(large-down) {
    display: none;
  }
}

.gallery-item__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.6;
  z-index: 1;
  transition: transform $time $curve, opacity $time $curve;

  &:hover {
    opacity: 0.8;
  }
}


// Thumbnail

.gallery-thumbnail {
  padding-bottom: 100%;
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
}

.btn-outline-primary{
  border: 1px solid;
}
.btn-outline-primary:hover{
  color: white;
}
.text-center{
  text-align: center;
}


.custom_carousel{
  width:280px;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.gallery-category-filters {
  display: flex;
  justify-content: center;
  padding-left: 0;

  li{
    list-style-type: none;

  }
  a{
    border: 1px solid $primary-color;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 38px;
  }
  a:hover{
    background: $primary-color;
    color: white;
  }
  li .active {
    background: $primary-color;
    color: white;
  }
}
.pagination-load-more{
  margin-bottom: 15px;
}

@media only screen and (max-width: 965px)  {
  .gallery-category-filters{
    display: unset;
    justify-content: unset;
    float: left;
  }
}



.gallery-category-menu-and-dropdown {
    select {
      display: none;
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 15px;
      margin-top: 15px;



      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 98%;
      background-position-y: 9px;
      border: 1px solid #dfdfdf;
      border-radius: 2px;
      margin-right: 2rem;
      padding-right: 2rem;




    }

    
}

@media (max-width: 960px) {
  .gallery-category-menu-and-dropdown ul     { display: none; }
  .gallery-category-menu-and-dropdown select { display: inline-block; }
}







