<div class="video-container">
  <iframe src="" class="js-video-target" frameborder="0" allowfullscreen></iframe>
</div>
<button class="js-close-modal modal__close">
  <%= inline_svg("icons/close.svg", class: "icon") %>
</button>
