packages:
  yum:
    git: []

container_commands:
  01_bower:
    command: RAILS_ENV=production bundle exec rake bower:install:deployment
    leader_only: true
  02_assets:
    command: RAILS_ENV=production bundle exec rake assets:precompile
    leader_only: true
  03_assets:
    command: bundle exec sidekiq
    leader_only: true