<div class="modal js-image-viewer">
  <div class="modal__table">
    <div class="modal__cell">
      <div class="modal__container modal__container--wide">
        <div class="video-container" id="modal_carousel">
        </div>
        <button class="js-close-modal modal__close">
          <%= inline_svg("icons/close.svg", class: "icon") %>
        </button>
      </div>
    </div>
  </div>
</div>
