<div class="location-map-wrapper">
  <div id="location-map" class="map"></div>
</div>
<button class="js-close-modal modal__close">
  <%= inline_svg("icons/close.svg", class: "icon") %>
</button>
<br>
<div class="field">
  <button class="btn btn--full btn--primary js-update-location js-close-modal"><%= t("map.confirm_location") %></button>
</div>
