<div class="card">
  <div class="card__section">

    <div class="grid">
      <div class="grid__col--xs-12 grid__col--sm-8">
        <h3 class="mb2">Reviews & Ratings</h3>
      </div>
    </div>

    <div class="fieldset">
      <div class="grid grid--tight">
        <div class="grid__col--xs-4 grid__col--md-3">
          <div class="field">
            <div class="field__input-wrapper">
              <%= inline_svg("icons/dropdown.svg", class: "icon field__add-on field__add-on--right field__add-on--clickthrough field__add-on--clickthrough") %>
              <select class="field__input field__input--right-add-on js-select-filter" data-column="7"></select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table id="js-reviews-table" data-source="<%= admin_reviews_path(format: :json) %>">
      <thead>
        <tr>
          <th>Comment</th>
          <th>Average score</th>
          <th>Business reply</th>
          <th>User</th>
          <th>Business</th>
          <th>Project</th>
          <th>Date</th>
          <th>Cities</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>
</div>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'admin/datatables/reviews' %>
<% end %>
