<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sub-menu" aria-controls="sub-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sub-menu">
      <ul class="navbar-nav ml-auto mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">SUPPLIERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PROFESSIONALS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MACHINERY</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="#">GALLERY</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-lock" aria-hidden="true"></i> PROJECTS</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="#">MORE...</a>
        </li>                                          
      </ul>
    </div>
  </div>
</nav>