// Primary colors

$black: #000;
$grey-dark: #333;
$grey: #666;
$grey-light: #999;
$red: #BE3E26;
$grey-lightest: #bbb;


// Other

$border: #dcdcdc;
$background: #F7F7F5;
$white: #fff;
$yellow: #F5A623;
$green: #73b50a;
$turquoise: #006b6f;