<footer class="muqa-footer">
  <div class="container">          
    <h2 class="footer-heading">Start Winning More Business.</h2>
    <p class="mb-5">Get verifed on muqawiloon and let thousands of project owners find you.</p>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "more.png" %>
        <h4>More Exposure</h4>
        <p>Put your business infront of thousands of project owners </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "files.png" %>
        <h4>Professional Company Profile</h4>
        <p>Put your business infront of thousands of project owners </p>
      </div>
      <div class="col-md-4">
        <%= image_tag "user.png" %>
        <h4>Get New Leads</h4>
        <p>Become a member of only the best and trusted businesses. </p>
      </div>        
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn btn-outline-light mt-3 mb-3">Get Verified Now</div>
      </div>
    </div>
  </div>
</footer>