@font-face {
  font-family: "hacen-regular";
  src: url('fonts/hacen/hacen-regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: "hacen-bold";
  src: url('fonts/hacen/hacen-bold.woff');
  font-weight: normal;
}