<% if @project.review %>
  <div class="card js-subscriptions">
    <div class="card__section">

      <div class="grid">
        <div class="grid__col--xs-12 grid__col--sm-8">
          <h3 class="mb2">Review</h3>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Review</th>
            <th>Business</th>
            <th>Business user</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to @project.review.comment, admin_reviews_path(@project.review) %>
            </td>
            <td>
              <%= link_to @project.review.business.name, edit_admin_business_path(@project.review.business) %>
            </td>
            <td>
            <%= link_to @project.review.business.user.name, edit_admin_user_path(@project.review.business.user) %>
            </td>
            <td><%= @project.review.created_at %></td>

          </tr>
        </tbody>
      </table>

    </div>
  </div>
<% end %>
