<% content_for :breadcrumbs do %>
  <%= render partial: 'partials/nav/breadcrumb_nav', locals: { breadcrumbs: [], current_breadcrumb: { name: "Services" } } %>
<% end %>

<section class="section section--alt">
  <div class="site-wrap">
    <h1 class="section-heading">Services</h1>
    <p>Services go here</p>
  </div>
</section>
