<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @business.name %> has been hired for the project called <%= @project.title %>.</p>
    <p>Please review <%= @project.title %> in the admin panel.</p>
    <p>Thanks!</p>
  </body>
</html>



