<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new business named <%= @business.name %> has been added to the platform.</p>
    <p>Please review <%= @business.name %> in the admin panel.</p>
    <p>Thanks!</p>
  </body>
</html>
