<div class="modal js-video-player">
  <div class="modal__table">
    <div class="modal__cell">
      <div class="modal__container modal__container--wide">
        <%= render partial: "partials/video/video_player" %>
      </div>
    </div>
  </div>
</div>
