// Divider

.divider {
  height: 1px;
  width: 100%;
  border: 0;
  background-color: $border;
  margin: $spacing-large 0;
}

.divider--tight {
  margin: $spacing-medium 0;
}

.divider--light {
  background-color: lighten($grey-dark, 8%);
}

// Or

.or-divider {
  display: flex;
  align-items: center;
  margin: $spacing-medium 0;

  &:before,
  &:after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: $border;
  }
}

.or-divider__text {
  margin: 0 $spacing-medium;
}
