// Tab nav

.tab-nav {
  display: flex;
  white-space: nowrap;
}

.tab-nav__item {
  padding: $spacing-medium;
  color: $grey;
  border-left: 1px solid $border;
  flex-shrink: 0; // Take up as much room as necessary

  &:hover,
  &.is-active {
    color: $grey-dark;
  }

  &:hover {
    background-color: $background;
  }

  &.is-active {
    box-shadow: inset 0 -2px 0 0 $red;
  }

  &.is-active--red {
    background-color: $red;
    color: $white;
  }

  &:last-child {
    border-right: 1px solid $border;
  }
}
