<div class="grid grid--center">
  <ul class="tabs">
    <li class="tab__item"><a href="#tabs_user" class="admin-tabs">User</a></li>
    <li class="tab__item"><a href="#tabs_businesses" class="admin-tabs">Businesses</a></li>
    <li class="tab__item"><a href="#tabs_projects" class="admin-tabs">Projects</a></li>
    <li class="tab__item"><a href="#tabs_subscriptions" class="admin-tabs">Subscriptions</a></li>
  </ul>
</div>
