<section class="section section--padded section--dark u-cover u-text-center has-tint">
  <div class="site-wrap has-tint__content">
    <h1 class="u-text-contrast u-text-shadow">Earn up to $100 for everyone you invite</h1>
  </div>
</section>

<section class="section section--alt">
  <div class="site-wrap">
    <div class="card">
      <div class="card__section">
        <h4>Invite friends to Muqawiloon</h4>
        <form action="#" class="inline-form">
          <div class="field inline-form__field">
            <div class="field__input-wrapper">
              <input type="email" class="field__input" placeholder="Email addresses, separated by commas">
            </div>
          </div>
          <button class="inline-form__btn btn btn--xs-full btn--primary">Send Invite</button>
        </form>
      </div>
      <div class="card__section card__section--border">
        <div class="grid grid--padded grid--v-padded">
          <div class="grid__col--xs-12 grid__col--md-6">
            <h4>Share your personal referral link</h4>
            <form action="#" class="inline-form">
              <div class="field inline-form__field">
                <div class="field__input-wrapper">
                  <input type="email" class="field__input" value="http://muqawiloon.com/1Tm7fwE" readonly>
                </div>
              </div>
              <button class="inline-form__btn btn btn--xs-full btn--primary">Copy</button>
            </form>
          </div>
          <div class="grid__col--xs-12 grid__col--md-6">
            <h4>Share directly on social media</h4>
            <ul class="list--unstyled list list--inline mb0">
              <li class="list__item"><a class="list__link" href="https://www.facebook.com/muqawiloon/"><%= inline_svg("icons/facebook.svg", class: "icon") %></a></li>
              <li class="list__item"><a class="list__link" href="https://twitter.com/muqawiloon"><%= inline_svg("icons/twitter.svg", class: "icon") %></a></li>
              <li class="list__item"><a class="list__link" href="https://www.linkedin.com/company/muqawiloon/"><%= inline_svg("icons/linkedin.svg", class: "icon") %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card__section card__section--border">
        <h4>Your referrals</h4>
        <div class="grid mb2">
          <div class="grid__col--xs-12 grid__col--sm-5 grid__col--lg-6">
            <span class="u-text-dark">Alexander Haniotis <br class="u-hide--medium"><small class="u-text-muted u-hide--medium-down">(alexanderhaniotis@gmail.com)</small></span>
          </div>
          <div class="grid__col--xs-12 grid__col--sm-3">
            <span>1 month ago</span>
          </div>
          <div class="grid__col--xs-12 grid__col--sm-4 grid__col--lg-3 u-text-right--small">
            <span class="u-text-positive">$100 earned</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>