<nav class="js-mobile-nav mobile-nav">
  <ul class="list mobile-nav__list">
    <li class="mobile-nav__item list__item">
      <button class="mobile-nav__link u-text-right mobile-nav__close js-mobile-nav-trigger">
        <%= inline_svg("icons/close.svg", class: "icon") %>
      </button>
    </li>

    <% if current_user %>
      <%= render partial: "partials/nav/mobile_nav/user" %>
    <% else %>
      <%= render partial: "partials/nav/mobile_nav/guest" %>
    <% end %>

  

  </ul>
</nav>
<nav class="js-mobile-nav-backdrop js-mobile-nav-trigger mobile-nav-backdrop"></nav>
