@import "bootstrap";
@import "font-awesome";

@import
"tooltipster/dist/css/tooltipster.bundle";

// Partials

@import
"utilities/_variables",
"utilities/_mixins",
"utilities/_colors",
"utilities/_text-align",
"utilities/_zindex",
"utilities/_spacing",
"utilities/_helpers";


// Base

@import
"base/_grid",
"base/_masonry-grid",
"base/_print";


// Layout

@import
"layout/_header",
"layout/_main",
"layout/_footer",
"layout/_section",
"layout/_hero",
"layout/_mobile-nav";


// Modules

@import
"modules/_icons",
"modules/_media",
"modules/_certifications",
"modules/_pill",
"modules/_divider",
"modules/_chat",
"modules/_notification",
"modules/_star-rating",
"modules/_listing",
"modules/_form-step",
"modules/_card",
"modules/_tab-nav",
"modules/_ad",
"modules/_photo-block",
"modules/_accordion",
"modules/_tint",
"modules/_banner",
"modules/_promo-block",
"modules/_map",
"modules/_data-table",
"modules/_control",
"modules/_segmented-control",
"modules/_avatar",
"modules/_modal",
"modules/_forms",
"modules/_project",
"modules/_tabs",
"modules/_video-container",
"modules/_social",
"modules/_auto_complete",
"modules/_brand",
"modules/_tooltipster";

// Vendor

@import
"vendor/_slick",
"vendor/_select2",
"vendor/_jquery-ui";


$primary-color:#d14a3e;
$primary-font-color: #333333;
$white-color: #ffffff;
$black-color:#000000;
$ad-background-color:#d6d6d6;
$body-background-color:#F5F5F5;
$border-color:#333333;
$header-menu-background-color:#f8f9fa;


@mixin listing-box-shadow {
  -webkit-box-shadow:     0px 2px 5px 0px rgba(31, 84, 195, .10),
                          0px -2px 5px 0px rgba(31, 84, 195, .10);
  -moz-box-shadow:        0px 2px 5px 0px rgba(31, 84, 195, .10),
                          0px -2px 5px 0px rgba(31, 84, 195, .10);
  box-shadow:             0px 2px 5px 0px rgba(31, 84, 195, .10),
                          0px -2px 5px 0px rgba(31, 84, 195, .10);
}
@mixin listing-hover-box-shadow {
  -webkit-box-shadow:     0px 5px 10px 0px rgba(31, 84, 195, .10),
                          0px -5px 10px 0px rgba(31, 84, 195, .10);
  -moz-box-shadow:        0px 5px 10px 0px rgba(31, 84, 195, .10),
                          0px -5px 10px 0px rgba(31, 84, 195, .10);
  box-shadow:             0px 5px 10px 0px rgba(31, 84, 195, .10),
                          0px -5px 10px 0px rgba(31, 84, 195, .10);
}
@mixin border-radius {
  border-radius: 2px;
}

body{
  background-color: $body-background-color;
  font-family: 'Montserrat', sans-serif;
}

#global-search-section input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  
  font-size: 13px;
}
#global-search-section input::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px;
}
#global-search-section input:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px;
}
#global-search-section input:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
}

.navbar-brand img{
  width: 200px;
}


.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
  
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  border-bottom: 2px solid $primary-color;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
  
.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}
.navigation-sub-menu{
  background: $black-color;
}
.link-secondary{
  color: $white-color;
  text-decoration:none;
  font-weight: 500;
}
.link-secondary:hover{
  color: $white-color;
  opacity: 0.8;
}
.btn-outline-primary{
  color: $primary-color;
  border-color: $primary-color;
}
.btn-outline-primary:hover{
  background-color: $primary-color;
  border-color: $primary-color;
}
.muqa-footer {
    padding: 2.5rem 0;
    color: $white-color;
    text-align: center;
    background-color: $primary-color;
    border-top: .05rem solid $white-color;
}
.muqa-footer p:last-child {
    margin-bottom: 0;
}
.ad-box{
  background: $ad-background-color;
  width: 100%;
  height: 300px;
  @include border-radius;
  margin-bottom: 10px;
  display: flex;

  P{
    align-self: center;
    margin: 0 auto;
  }
}
.single-latest-activity-box{  
  display: flex;
  background: $white-color;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  @include border-radius;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}
.latest-activity-list hr{
  margin-top: 0px;
  margin-bottom: 0px;

}
.heading-container {
  flex: 1 1;
  margin-right: 10px;
}
.sub-heading {
  margin-bottom: 10px;
}
.icon-container{
  flex: 0 0 90px;
  display: flex;
  height: 40px;
  text-align: center;
  @include border-radius;
  background: $primary-color;
  align-self: center;
  align-items: center;
}
.activity-preview-button {
  margin-right: 10px;
}
.activity-edit-button{
  margin-right: 10px;
}
.icon-container i{
  // align-self: center;
  // margin: 0 auto;
  font-size: 25px;
  color: $white-color;
}
.icon-container span{
  color: $white-color;
}
.icon-container .icon-and-value{
  margin: 0 auto;
}
.saved-lists{
  background: $white-color;
  border-top: 2px solid $border-color;
  // padding: 15px;
  margin-bottom: 15px;
}
.saved-lists-heading{
  padding: 15px;
  border-bottom: 1px solid rgba($black-color,0.1);
  margin-bottom: 0px;
}
.bookmarks-lists-heading{
  padding: 15px;
  border-bottom: 1px solid rgba($black-color,0.1);
  margin-bottom: 0px;
}
.bookmarks{
  background: $white-color;
  border-top: 2px solid $border-color;
  margin-bottom: 15px;
}
.saved-lists ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
  padding: 5px 15px 5px 15px;
  background: #F9F9F9;
}
.saved-lists ul li{
  border-bottom: 1px solid rgba($border-color,0.2);
  padding-bottom: 5px;
  padding-top: 5px;
}
.saved-lists ul li:last-child{
  border-bottom: 0px;
}
.bookmarks ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
  padding: 5px 15px 5px 15px;
  background: #F9F9F9;
}
.bookmarks ul li{
  border-bottom: 1px solid rgba($border-color,0.2);
  padding-bottom: 5px;
  padding-top: 5px;
}
.bookmarks ul li:last-child{
  border-bottom: 0px;
}
.dashboard-sidebar-lists{
  padding: 0;
}
.dashboard-sidebar-lists ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
}
.dashboard-sidebar-lists ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 500;
}
.dashboard-sidebar-lists ul li.active{
  background: $white-color;
  border-left: 3px solid $primary-color;
  color: $primary-color;
}
.tell-us-what-you-need-lists{
  padding: 0;
  margin-bottom: 15px; 
}
.tell-us-what-you-need-lists ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
}
.tell-us-what-you-need-lists ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.tell-us-what-you-need-lists ul li.active{
  color: $primary-color;
}
.center-container{
  background: $white-color;
  padding: 15px;
}
.activity-delete-button{
  color: $primary-color;
}
.activity-section-title{
  padding: 15px 15px 15px 15px;
  border-bottom: 0.5px solid rgba($border-color,0.1);
}
.dashboard-sidebar-profile-container{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.dashboard-sidebar-profile-container img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 20px;
}
.dashboard-sidebar-profile-container .dashboard-sidebar-username{
  font-weight: bold;
  font-size: 18px;
}
.progress-bar{
  background: $primary-color;
}
#global-search-section{
  width: 285px;
}
#profile-setting-logout-dropdown .user-profile-image{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 5px;
}
#global-search-input-box{
  width: 285px;
  padding: 0 0 0 36px;
  border-radius: .25rem;
  border: 1px solid $border-color;
}
#global-search-input-box-search-icon-container{
  position: absolute;
  width: 36px;
  height: 38px;
  background: #ebebeb;
  vertical-align: middle;
}
#global-search-input-box-search-icon{
  z-index: 4;
  position: absolute;
  vertical-align: middle;
  padding: 10px 12px;
  cursor: pointer;
  color: $black-color;
}
#global-search-input-box-search-icon:hover{
  opacity: 0.5;
}

#location-search-input-box{
  max-width: 170px;
  padding: 0 0 0 0;
  border-radius: 0;
  border-bottom: 2px solid $border-color;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  background: none;
  min-width: 170px;
}

#location-search-input-box-search-icon-container{
  position: absolute;
  width: 36px;
  height: 38px;
  background: none;
  vertical-align: middle;
}
#location-search-input-box-search-icon{
  z-index: 4;
  position: absolute;
  vertical-align: middle;
  padding: 10px 12px;
  cursor: pointer;
  color: $black-color;
}
#location-search-input-box-search-icon:hover{
  opacity: 0.5;
}

@media (min-width: 992px){
.navbar-expand-lg #sub-menu .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.navbar-dark .navbar-nav .nav-link{
  color: $white-color;
}
@media screen and (max-width: 1399px) {
  #global-search-section {
    width: 200px;
    margin-left: unset !important;
  }
  #global-search-input-box {
    width: 200px;
  }
  #location-search-input-box {
    max-width: 125px;
  }
}

a.sidebar-link {
  text-decoration: none;
  color: black;
}

.link-text {
  color: $primary-color !important;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-city {
  margin-left: -100px;
  }
}


#location-two-column-drop-down-list-item .row{
  margin-left: 0px;
  margin-right: 0px;
}

#location-two-column-drop-down-list-item .list-unstyled{
  padding-left: 0px;
  padding-right: 0px;
}

#location-two-column-drop-down-list-item-container{
  padding: 0rem 0;
}


#location-two-column-drop-down-list-item .list-unstyled li{
  border-bottom:1px solid #dcdcdc;
  border-right:1px solid #dcdcdc;
}

#location-two-column-drop-down-list-item .list-unstyled li a{
  border-bottom:1px solid #dcdcdc;
}

#location-two-column-drop-down-list-item .list-unstyled .dropdown-item{
  padding: .7rem 1rem;
}

#location-two-column-drop-down-list-item .list-unstyled li:last-child{
  border-bottom:0px solid #dcdcdc;
}

@media (min-width: 992px){
#location-two-column-drop-down-list-item:before{
    position: absolute;
    content: "";
    left: 50%;
    bottom: 100%;
    border: 8px solid transparent;
    border-bottom: 8px solid #ddd;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

  }
}