$primary-color:#d14a3e;
$primary-font-color: #333333;
$white-color: #ffffff;
$black-color:#000000;
$ad-background-color:#d6d6d6;
$body-background-color:#F5F5F5;
$border-color:#333333;
$header-menu-background-color:#f8f9fa;
$category-box-background-color:#F8E5E4;


@mixin listing-box-shadow {
  -webkit-box-shadow:     0px 2px 5px 0px rgba(31, 84, 195, .10),
                          0px -2px 5px 0px rgba(31, 84, 195, .10);
  -moz-box-shadow:        0px 2px 5px 0px rgba(31, 84, 195, .10),
                          0px -2px 5px 0px rgba(31, 84, 195, .10);
  box-shadow:             0px 2px 5px 0px rgba(31, 84, 195, .10),
                          0px -2px 5px 0px rgba(31, 84, 195, .10);
}
@mixin listing-hover-box-shadow {
  -webkit-box-shadow:     0px 5px 10px 0px rgba(31, 84, 195, .10),
                          0px -5px 10px 0px rgba(31, 84, 195, .10);
  -moz-box-shadow:        0px 5px 10px 0px rgba(31, 84, 195, .10),
                          0px -5px 10px 0px rgba(31, 84, 195, .10);
  box-shadow:             0px 5px 10px 0px rgba(31, 84, 195, .10),
                          0px -5px 10px 0px rgba(31, 84, 195, .10);
}
@mixin border-radius {
  border-radius: 2px;
}

body{
  background-color: $body-background-color;
  font-family: 'Montserrat', sans-serif;
}

#global-search-section input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  
  font-size: 13px;
}
#global-search-section input::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px;
}
#global-search-section input:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px;
}
#global-search-section input:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
}

.navbar-brand img{
  width: 200px;
}


.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
  
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  border-bottom: 2px solid $primary-color;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
  
.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}
.navigation-sub-menu{
  background: $black-color;
}
.link-secondary{
  color: $white-color;
  text-decoration:none;
  font-weight: 500;
}
.link-secondary:hover{
  color: $white-color;
  opacity: 0.8;
}
.btn-outline-primary{
  color: $primary-color;
  border-color: $primary-color;
}
.btn-outline-primary:hover{
  background-color: $primary-color;
  border-color: white;
  border: 1px solid;
  color: white;
}
.muqa-footer {
    padding: 2.5rem 0;
    color: $white-color;
    text-align: center;
    background-color: $primary-color;
    border-top: .05rem solid $white-color;

    h4{
      color: white;
    }
    .footer-heading{
      color: white;
      margin-bottom: 0px;
    }
    .btn-outline-light{
      border: 1px solid white;
      margin-top: 15px;

    }
    
    .btn-outline-light:hover{
      background: white;
      color: $primary-color;
    }
}
.muqa-footer p:last-child {
    margin-bottom: 0;
}
.ad-box{
  background: $ad-background-color;
  width: 100%;
  height: 300px;
  @include border-radius;
  margin-bottom: 10px;
  display: flex;

  P{
    align-self: center;
    margin: 0 auto;
  }
}
.single-latest-activity-box{  
  display: flex;
  background: $white-color;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  @include border-radius;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}
.latest-activity-list hr{
  margin-top: 0px;
  margin-bottom: 0px;

}
.heading-container {
  flex: 1 1;
  margin-right: 10px;
}
.sub-heading {
  margin-bottom: 10px;
}
.icon-container{
  flex: 0 0 90px;
  display: flex;
  height: 40px;
  text-align: center;
  @include border-radius;
  background: $primary-color;
  align-self: center;
  align-items: center;
}
.activity-preview-button {
  margin-right: 10px;
}
.activity-edit-button{
  margin-right: 10px;
}
.icon-container i{
  // align-self: center;
  // margin: 0 auto;
  font-size: 25px;
  color: $white-color;
}
.icon-container span{
  color: $white-color;
}
.icon-container .icon-and-value{
  margin: 0 auto;
}
.saved-lists{
  background: $white-color;
  border-top: 2px solid $border-color;
  // padding: 15px;
  margin-bottom: 15px;
}
.saved-lists-heading{
  padding: 15px;
  border-bottom: 1px solid rgba($black-color,0.1);
  margin-bottom: 0px;
}
.bookmarks-lists-heading{
  padding: 15px;
  border-bottom: 1px solid rgba($black-color,0.1);
  margin-bottom: 0px;
}
.bookmarks{
  background: $white-color;
  border-top: 2px solid $border-color;
  margin-bottom: 15px;
}
.saved-lists ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
  padding: 5px 15px 5px 15px;
  // background: #F9F9F9;
}
.saved-lists ul li{
  border-bottom: 1px solid rgba($border-color,0.2);
  padding-bottom: 5px;
  padding-top: 5px;
}
.saved-lists ul li:last-child{
  border-bottom: 0px;
}
.bookmarks ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
  padding: 5px 15px 5px 15px;
  // background: #F9F9F9;
}
.bookmarks ul li{
  border-bottom: 1px solid rgba($border-color,0.2);
  padding-bottom: 5px;
  padding-top: 5px;
}
.bookmarks ul li:last-child{
  border-bottom: 0px;
}
.dashboard-sidebar-lists{
  padding: 0;
}
.dashboard-sidebar-lists ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
}
.dashboard-sidebar-lists ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 500;
}
.dashboard-sidebar-lists ul li.active{
  background: $white-color;
  border-left: 3px solid $primary-color;
  color: $primary-color;
}
.tell-us-what-you-need-lists{
  padding: 0;
  margin-bottom: 15px; 
}
.tell-us-what-you-need-lists ul{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 0px;
}
.tell-us-what-you-need-lists ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.tell-us-what-you-need-lists ul li.active{
  color: $primary-color;
}
.center-container{
  background: $white-color;
  padding: 15px;
}
.activity-delete-button{
  color: $primary-color;
}
.activity-section-title{
  padding: 15px 15px 15px 15px;
  border-bottom: 0.5px solid rgba($border-color,0.1);
}
.dashboard-sidebar-profile-container{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.dashboard-sidebar-profile-container img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 20px;
}
.dashboard-sidebar-profile-container .dashboard-sidebar-username{
  font-weight: bold;
  font-size: 18px;
}

#global-search-section{
  width: 258px;
}

.user-profile-image{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 5px;
}
#global-search-input-box{
  width: 370px;
  padding: 0 0 0 36px;
  border-radius: .25rem;
  border: 1px solid $border-color;
}
#global-search-input-box-search-icon-container{
  position: absolute;
  width: 36px;
  height: 38px;
  background: #ebebeb;
  vertical-align: middle;
}
#global-search-input-box-search-icon{
  z-index: 4;
  position: absolute;
  vertical-align: middle;
  padding: 10px 12px;
  cursor: pointer;
  color: $black-color;
}
#global-search-input-box-search-icon:hover{
  opacity: 0.5;
}

#location-search-input-box{
  max-width: 140px;
  padding: 0 0 9px 9px;
  border-radius: 0;
  border-bottom: 2px solid $border-color;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  background: none;
  min-width: 140px;
  margin-right: 35px;
}

#location-search-input-box-search-icon-container{
  position: absolute;
  width: 36px;
  height: 38px;
  background: none;
  vertical-align: middle;
}
#location-search-input-box-search-icon{
  z-index: 4;
  position: absolute;
  vertical-align: middle;
  padding: 10px 12px;
  cursor: pointer;
  color: $black-color;
}
#location-search-input-box-search-icon:hover{
  opacity: 0.5;
}

@media (min-width: 992px){
.navbar-expand-lg #sub-menu .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.navbar-dark .navbar-nav .nav-link{
  color: $white-color;
}
@media screen and (max-width: 1399px) {
  #global-search-section {
    width: 200px;
    margin-left: unset !important;
  }
  #global-search-input-box {
    width: 200px;
  }
  #location-search-input-box {
    max-width: 125px;
  }
}

a.sidebar-link {
  text-decoration: none;
  color: black;
}

.link-text {
  color: $primary-color !important;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-city {
  margin-left: -100px;
  }
}


#location-two-column-drop-down-list-item .row{
  margin-left: 0px;
  margin-right: 0px;
}

#location-two-column-drop-down-list-item .list-unstyled{
  padding-left: 0px;
  padding-right: 0px;
}

#location-two-column-drop-down-list-item-container{
  padding: 0rem 0;
}


#location-two-column-drop-down-list-item .list-unstyled li{
  border-bottom:1px solid #dcdcdc;
  border-right:1px solid #dcdcdc;
}

#location-two-column-drop-down-list-item .list-unstyled li a{
  border-bottom:1px solid #dcdcdc;
}

#location-two-column-drop-down-list-item .list-unstyled .dropdown-item{
  padding: .7rem 1rem;
}

#location-two-column-drop-down-list-item .list-unstyled li:last-child{
  border-bottom:0px solid #dcdcdc;
}

@media (min-width: 992px){
#location-two-column-drop-down-list-item:before{
    position: absolute;
    content: "";
    left: 50%;
    bottom: 100%;
    border: 8px solid transparent;
    border-bottom: 8px solid #ddd;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

  }
}

#estimate-budget-container .input-group-text{
  padding: unset;
  border: none;
  background: unset;
}
.form-container-background{
  background: $white-color;
}
.form-label {
  font-weight: 500;
}
.custom-breadcrumb-title{
  font-weight: 500;
  font-size: 23px;
}
.custom-breadcrumb-title-right{
  line-height: 35px;
}
.form-check-input:checked{
  background-color: $primary-color;
  border: $primary-color;
}
.form-check-input:focus{
  box-shadow: 0 0 0 0.2rem rgba($primary-color,.25);
}
.form-control:focus {
  border-color:$primary-color;
  box-shadow: 0 0 0 0.2rem rgba($primary-color,.25);
}
.form-select:focus {
  border-color:$primary-color;
  box-shadow: 0 0 0 0.2rem rgba($primary-color,.25);
}



.product-name-and-footer-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
}
.product-card-name-and-by-container {
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.product-card-product-by{
  font-size: 12px;
}

.favorite-share-and-add-button-container{
  display: flex;
}
.favorite-share-and-add-button-container .product-action-button{
  margin-right: 10px;
}

.btn-primary{
  background: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover{
  background: $primary-color;
  border-color: $primary-color;
  opacity: 0.8;
}
#single-product-image-carousel .carousel-indicators li{
    filter: invert(1);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

#single-product-image-carousel .carousel-control-next, #single-product-image-carousel .carousel-control-prev{
  filter: invert(1);
}
#single-product-image-carousel .carousel-indicators{
  margin-bottom: 0rem;
}
@media screen and (max-width: 768px) {
  .gallery-page-product-list .product-card{
    flex-basis: calc(50% - 15px);
  }
}


.hire-a-professional-category-container{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 15px);

  .hire-a-professional-category-box{
    background-color: rgba($white-color,1);
    box-shadow: 0 4px 10px rgba($border-color,.15);
    @include border-radius;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(50% - 15px);
    height: auto;
    transition: .3s;
    margin-right: 15px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    // border: 1px solid rgba($primary-color,1);
  }
  .category-image{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }


  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: auto;
  }
  label {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 40px 15px;
    border: 1px solid rgba($border-color,0.43);
    @include border-radius;
  }

  label:hover {
    background-color: rgba($category-box-background-color,1);
    width: 100%;
    height: 100%;
    border: 1px solid rgba($primary-color,1);
    @include border-radius;
  }
  input[type="radio"]:focus + label {
    border: 1px solid rgba($primary-color,1);
    @include border-radius;
  }
  input[type="radio"]:checked {
    border: 1px solid rgba($primary-color,1);
    @include border-radius;
  }
  input[type="radio"]:checked + label {
    background-color: rgba($category-box-background-color,1);
    width: 100%;
    height: 100%;
    border: 1px solid rgba($primary-color,1);
    @include border-radius;
  }

}
.text-warning{
  color: $primary-color !important;
}
.three-column-checkbox-list{
  padding-left: 0;
  column-count: 3;
  column-gap: 2rem;
}
.three-column-checkbox-list li{
  list-style-type: none;
}
.two-column-checkbox-list{
  padding-left: 0;
  column-count: 2;
  column-gap: 2rem;
}
.two-column-checkbox-list li{
  list-style-type: none;
}

.remove-attachment-button {
    display: none;
}

.field-input-padding {
  padding: 0 0 16px 16px !important;
}

.btn-browse {
  padding: 0rem 1rem;
}

.btn-business:hover {
  background-color: black;
  border-color: black;
}

// Search

.nav__search {
 margin-left: $spacing-medium;
  margin-right: $spacing-medium;
 flex: 1;

  @include mq(large) {
   margin-left: $spacing-large;
   margin-right: $spacing-large;
  }
}

.dashboard-search {
  padding: 0px;
  min-width: 19.3vw;
}

.popover__link{
  text-decoration: none;
}

.input-line-height {
  line-height: 30px !important;
}

.btn-special {

  height:40px;
  display: inline-block;
  font-weight: 100;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid;
  padding: 0.375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  margin-bottom: 10px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-block {
  display: block;
  width: 100%;
}

.progress {
  margin-bottom: .5rem!important;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.progress-bar-dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  /* background-color: #0d6efd; */
  transition: width .6s ease;
  background: $primary-color;
}

.text-center {
  text-align: center;
}

.mb-4{
  margin-bottom: 1.5rem!important;
}

.px-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.float-right {
  float: right;
}

.form-select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
 // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-label {
  font-weight: 500;
}
.form-label {
  margin-bottom: .5rem;
}

label {
  display: inline-block;
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.75em;
  margin-bottom: .125rem;
}


.form-check-input:checked {
  background-color: #d14a3e;
  border: #d14a3e;
}

.form-check-input[type=checkbox] {
  border-radius: .25em;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.75em;
}

.form-check-input {
  width: 1.25em;
  height: 1.25em;
  margin-top: .125em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.unset-grid {
  padding: unset
}

.form-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: var(--bs-form-file-height);
  margin: 0;
  opacity: 0;
}

.form-file-button {
  display: block;
  flex-shrink: 0;
  padding: .375rem 1.25rem;
  margin-left: -1px;
  line-height: 2.2;
  color: #495057;
  background-color: #e9ecef;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  height: 50px;
}

// .navbar-light .navbar-brand {
//   color: rgba(0,0,0,.9);
// }

// .navbar-collapse {
//   align-items: center;
//   width: 100%;
// }

// .navbar-expand-lg .navbar-collapse {
//     display: flex!important;
// }

// .navbar-expand-lg .navbar-nav {
//   flex-direction: row;
// }

// .navbar-nav {
//   display: flex;
//   flex-direction: column;
//   padding-left: 0;
//   margin-bottom: 0;
//   list-style: none;
// }

// .navbar-brand {
//   padding-top: .3125rem;
//   padding-bottom: .3125rem;
//   margin-right: 1rem;
//   font-size: 1.25rem;
//   text-decoration: none;
//   white-space: nowrap;
// }

// .mb-lg-0 {
//   margin-bottom: 0!important;
// }
// .mb-2 {
//   margin-bottom: .5rem!important;
// }

// .mr-auto {
//   margin-right: auto!important;
// }

.ml0{
  margin-left: 15px !important;
}

a{
  color: #333333;
}
.new-dashboard-left-main-menu{
  .nav-link {
    color: white;
    padding: 5px 15px;
  }
}