<div class="modal js-business-profile-map">
  <div class="modal__table">
    <div class="modal__cell">
      <div class="modal__container modal__container--wide">
        <%= render partial: "partials/maps/business_profile_map" %>
      </div>
    </div>
  </div>
</div>
