<div class="modal js-choose-location">
  <div class="modal__table">
    <div class="modal__cell">
      <div class="modal__container modal__container--wide">
        <%= render partial: "partials/maps/choose_location" %>
      </div>
    </div>
  </div>
</div>
